<div class='fb-edit-section-header'>Digits</div>

<div class='digit' data-rv-each-digit='model.<%= App.Formbuilder.options.mappings.DIGITS %>'>
  <input type="text" data-rv-input="digit:scr" class='digits-scr-input' />
  <input type="text" data-rv-input="digit:numb" class='digits-numb-input' />

  <div class='fb-edit-section-header'>Masks</div>

  <div class='mask' data-rv-each-mask='digit:masks'>
    <input type="text" data-rv-input="mask:value" class='digit-mask-value-input' />
    <a class="js-add-mask <%= App.Formbuilder.options.BUTTON_CLASS %>" title="Add Mask"><i class='fa fa-plus-circle'></i></a>
    <a class="js-remove-mask <%= App.Formbuilder.options.BUTTON_CLASS %>" title="Remove Mask"><i class='fa fa-minus-circle'></i></a>
  </div>

  <a class="js-add-digit <%= App.Formbuilder.options.BUTTON_CLASS %>" title="Add digits section"><i class='fa fa-plus-circle'></i></a>
  <a class="js-remove-digit <%= App.Formbuilder.options.BUTTON_CLASS %>" title="Remove digits section"><i class='fa fa-minus-circle'></i></a>
</div>

<div class='fb-bottom-add'>
  <a class="js-add-digit <%= App.Formbuilder.options.BUTTON_CLASS %>">Add digits section</a>
</div>
