<div class='fb-edit-section-header'>Masks</div>

<div class='mask' data-rv-each-mask='model.<%= App.Formbuilder.options.mappings.MASKS %>'>
  <input type="text" data-rv-input="mask:value" class='mask-value-input' />
  <a class="js-add-mask <%= App.Formbuilder.options.BUTTON_CLASS %>" title="Add Mask"><i class='fa fa-plus-circle'></i></a>
  <a class="js-remove-mask <%= App.Formbuilder.options.BUTTON_CLASS %>" title="Remove Mask"><i class='fa fa-minus-circle'></i></a>
</div>

<div class='fb-bottom-add'>
  <a class="js-add-mask <%= App.Formbuilder.options.BUTTON_CLASS %>">Add mask</a>
</div>
